/node_modules
/apps/*/node_modules
/packages/*/node_modules
/apps/*/dist
/packages/*/dist
/.env
/.env.*
!/.env.example
/.codex
/apps/*/.env
/apps/*/.env.*
!/apps/*/.env.example
/coverage
**/.dev-server*.log
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
